{% extends 'shop/basic.html' %}
{% block title %}My Ecommerce Cart Tracker{% endblock %}
{%block body%}
<div class="container">
    <div class="col my-4">
        <h2> Enter your Order Id and Email address to track your order</h2>
        <form method="post" action="#" id="trackerForm" class="row g-3 needs-validation" validate>
            {% csrf_token %}
            <div class="col-md-5">
                <label for="inputname" class="form-label">Order Id</label>
                <input type="text" class="form-control" id="order_id" name="orderId" placeholder="Enter Your Order Id"
                    required>
            </div>
            <div class="col-md-5">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter valid Email Id"
                    required>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Track Order</button>
            </div>
    </div>
    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div>
            <ul class="list-group list-group-numbered" id="items">
                Enter your Id and Email and click Track Order to find details about your order!
            </ul>

    </div>

    <h2>Your Order Details</h2>
        <div>
            <ul class="list-group list-group-numbered" id="citems">
                Enter your Id and Email and click Track Order to find details about your order!
            </ul>

    </div>
    
</div>
{% endblock %}

{% block js%}
<script>
    // loadcart();
    $('#trackerForm').submit(function (event) {
    event.preventDefault();  // Prevent form from submitting normally
    $('#items').empty();
    
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
        type: 'POST',
        url: '/shop/tracker/',
        data: formData,
        encode: true,
        success: function (data) {
            try {
                 data = JSON.parse(data);
                updates = data[0];
                if (updates.length > 0 && updates != {}) {
                    for (let i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        let mystr = `
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">${text}</div>
                                </div>
                                <span class="badge text-bg-primary rounded-pill">${time}</span>
                            </li>`;
                        $('#items').append(mystr);
                    }
                } else {
                    $('#items').html("<h5>Sorry! No order found with this Order Id and Email address</h5>");
                }
                cart = JSON.parse(data[1])
                for(item in cart){
        let name = cart[item][1];
        let  qty = cart[item][0];
        mystr =`<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">${name}</div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">${qty}</span>
                </li>`
            $('#citems').append(mystr);
    }
            } catch (error) {
                $('#items').html("<h5>There was an error with the server response. Sorry! No order found with this Order Id and Email address</h5>");
            }
        },
        error: function (xhr, status, error) {
            console.error("Request failed:", error);
            $('#items').html("<h5>There was an issue with your request. Please try again later Sorry! No order found with this Order Id and Email address.</h5>");
        }
    });
});

</script>



{% endblock%}